((:name :thopter)
 (:size 1024 1024)
 (:images
  ((:name :thopter0-00) (:offset 256 0) (:size 64 64))
  ((:name :thopter0-01) (:offset 320 0) (:size 64 64))
  ((:name :thopter0-02) (:offset 384 0) (:size 64 64))
  ((:name :thopter0-03) (:offset 448 0) (:size 64 64))
  ((:name :thopter0-04) (:offset 256 64) (:size 64 64))
  ((:name :thopter0-05) (:offset 320 64) (:size 64 64))
  ((:name :thopter0-06) (:offset 384 64) (:size 64 64))
  ((:name :thopter0-07) (:offset 448 64) (:size 64 64))
  ((:name :thopter0-08) (:offset 256 128) (:size 64 64))
  ((:name :thopter0-09) (:offset 320 128) (:size 64 64))
  ((:name :thopter0-10) (:offset 384 128) (:size 64 64))
  ((:name :thopter0-11) (:offset 448 128) (:size 64 64))
  ((:name :thopter0-12) (:offset 256 192) (:size 64 64))
  ((:name :thopter0-13) (:offset 320 192) (:size 64 64))
  ((:name :thopter0-14) (:offset 384 192) (:size 64 64))
  ((:name :thopter1-00) (:offset 256 0) (:size 64 64))
  ((:name :thopter1-01) (:offset 320 0) (:size 64 64))
  ((:name :thopter1-02) (:offset 384 0) (:size 64 64))
  ((:name :thopter1-03) (:offset 448 0) (:size 64 64))
  ((:name :thopter1-04) (:offset 256 64) (:size 64 64))
  ((:name :thopter1-05) (:offset 320 64) (:size 64 64))
  ((:name :thopter1-06) (:offset 384 64) (:size 64 64))
  ((:name :thopter1-07) (:offset 448 64) (:size 64 64))
  ((:name :thopter1-08) (:offset 256 128) (:size 64 64))
  ((:name :thopter1-09) (:offset 320 128) (:size 64 64))
  ((:name :thopter1-10) (:offset 384 128) (:size 64 64))
  ((:name :thopter1-11) (:offset 448 128) (:size 64 64))
  ((:name :thopter1-12) (:offset 256 192) (:size 64 64))
  ((:name :thopter1-13) (:offset 320 192) (:size 64 64))
  ((:name :thopter1-14) (:offset 384 192) (:size 64 64))
  ((:name :thopter2-00) (:offset 256 0) (:size 64 64))
  ((:name :thopter2-01) (:offset 320 0) (:size 64 64))
  ((:name :thopter2-02) (:offset 384 0) (:size 64 64))
  ((:name :thopter2-03) (:offset 448 0) (:size 64 64))
  ((:name :thopter2-04) (:offset 256 64) (:size 64 64))
  ((:name :thopter2-05) (:offset 320 64) (:size 64 64))
  ((:name :thopter2-06) (:offset 384 64) (:size 64 64))
  ((:name :thopter2-07) (:offset 448 64) (:size 64 64))
  ((:name :thopter2-08) (:offset 256 128) (:size 64 64))
  ((:name :thopter2-09) (:offset 320 128) (:size 64 64))
  ((:name :thopter2-10) (:offset 384 128) (:size 64 64))
  ((:name :thopter2-11) (:offset 448 128) (:size 64 64))
  ((:name :thopter2-12) (:offset 256 192) (:size 64 64))
  ((:name :thopter2-13) (:offset 320 192) (:size 64 64))
  ((:name :thopter2-14) (:offset 384 192) (:size 64 64))
  ((:name :thopter3-00) (:offset 256 0) (:size 64 64))
  ((:name :thopter3-01) (:offset 320 0) (:size 64 64))
  ((:name :thopter3-02) (:offset 384 0) (:size 64 64))
  ((:name :thopter3-03) (:offset 448 0) (:size 64 64))
  ((:name :thopter3-04) (:offset 256 64) (:size 64 64))
  ((:name :thopter3-05) (:offset 320 64) (:size 64 64))
  ((:name :thopter3-06) (:offset 384 64) (:size 64 64))
  ((:name :thopter3-07) (:offset 448 64) (:size 64 64))
  ((:name :thopter3-08) (:offset 256 128) (:size 64 64))
  ((:name :thopter3-09) (:offset 320 128) (:size 64 64))
  ((:name :thopter3-10) (:offset 384 128) (:size 64 64))
  ((:name :thopter3-11) (:offset 448 128) (:size 64 64))
  ((:name :thopter3-12) (:offset 256 192) (:size 64 64))
  ((:name :thopter3-13) (:offset 320 192) (:size 64 64))
  ((:name :thopter3-14) (:offset 384 192) (:size 64 64))
  ((:name :enemy) (:offset 576 256) (:size 64 64))
  ((:name :enemy2) (:offset 128 338) (:size 62 46))
  ((:name :bullet-00) (:offset 640 960) (:size 32 32)
   (:bbox-offset 1 12) (:bbox-size 30 8))
  ((:name :bullet-01) (:offset 672 960) (:size 32 32)
   (:bbox-offset 2 9) (:bbox-size 28 14))
  ((:name :bullet-02) (:offset 704 960) (:size 32 32)
   (:bbox-offset 5 2) (:bbox-size 22 28))
  ((:name :bullet-03) (:offset 736 960) (:size 32 32)
   (:bbox-offset 9 2) (:bbox-size 14 28))
  ((:name :bullet-04) (:offset 640 928) (:size 32 32)
   (:bbox-offset 12 1) (:bbox-size 8 30))
  ((:name :bullet-05) (:offset 672 928) (:size 32 32)
   (:bbox-offset 9 2) (:bbox-size 14 28))
  ((:name :bullet-06) (:offset 704 928) (:size 32 32)
   (:bbox-offset 2 5) (:bbox-size 28 22))
  ((:name :bullet-07) (:offset 736 928) (:size 32 32)
   (:bbox-offset 2 9) (:bbox-size 28 14))
  ((:name :bullet-08) (:offset 640 896) (:size 32 32)
   (:bbox-offset 1 12) (:bbox-size 30 8))
  ((:name :bullet-09) (:offset 672 896) (:size 32 32)
   (:bbox-offset 2 9) (:bbox-size 28 14))
  ((:name :bullet-10) (:offset 704 896) (:size 32 32)
   (:bbox-offset 5 2) (:bbox-size 22 28))
  ((:name :bullet-11) (:offset 736 896) (:size 32 32)
   (:bbox-offset 9 2) (:bbox-size 14 28))
  ((:name :bullet-12) (:offset 640 992) (:size 32 32)
   (:bbox-offset 12 1) (:bbox-size 8 30))
  ((:name :bullet-13) (:offset 672 992) (:size 32 32)
   (:bbox-offset 9 2) (:bbox-size 14 28))
  ((:name :bullet-14) (:offset 704 992) (:size 32 32)
   (:bbox-offset 2 5) (:bbox-size 28 22))
  ((:name :bullet-15) (:offset 736 992) (:size 32 32)
   (:bbox-offset 2 9) (:bbox-size 28 14))
  ((:name :enemy-bullet) (:offset 272 304) (:size 16 16))
  ((:name :health-0) (:offset 192 256) (:size 32 36))
  ((:name :health-1) (:offset 192 297) (:size 32 36))
  ((:name :shield) (:offset 16 48) (:size 16 16))
  ((:name :upgrade-bullet) (:offset 512 288) (:size 42 40) (:bbox-size 40 32))
  ((:name :upgrade-missile) (:offset 128 297) (:size 40 32))
  ((:name :upgrade-speed) (:offset 512 256) (:size 40 32))
  ((:name :missile-00) (:offset 384 320) (:size 32 32)
   (:bbox-offset 1 8) (:bbox-size 30 11))
  ((:name :missile-01) (:offset 416 320) (:size 32 32)
   (:bbox-offset 2 8) (:bbox-size 28 14))
  ((:name :missile-02) (:offset 448 320) (:size 32 32)
   (:bbox-offset 5 5) (:bbox-size 22 22))
  ((:name :missile-03) (:offset 480 320) (:size 32 32)
   (:bbox-offset 8 2) (:bbox-size 14 28))
  ((:name :missile-04) (:offset 384 288) (:size 32 32)
   (:bbox-offset 8 1) (:bbox-size 11 30))
  ((:name :missile-05) (:offset 416 288) (:size 32 32)
   (:bbox-offset 8 2) (:bbox-size 14 28))
  ((:name :missile-06) (:offset 448 288) (:size 32 32)
   (:bbox-offset 5 5) (:bbox-size 22 22))
  ((:name :missile-07) (:offset 480 288) (:size 32 32)
   (:bbox-offset 2 8) (:bbox-size 28 14))
  ((:name :missile-08) (:offset 384 256) (:size 32 32)
   (:bbox-offset 1 8) (:bbox-size 30 11))
  ((:name :missile-09) (:offset 416 256) (:size 32 32)
   (:bbox-offset 2 8) (:bbox-size 28 14))
  ((:name :missile-10) (:offset 448 256) (:size 32 32)
   (:bbox-offset 5 5) (:bbox-size 22 22))
  ((:name :missile-11) (:offset 480 256) (:size 32 32)
   (:bbox-offset 8 2) (:bbox-size 14 28))
  ((:name :missile-12) (:offset 384 352) (:size 32 32)
   (:bbox-offset 8 1) (:bbox-size 11 30))
  ((:name :missile-13) (:offset 416 352) (:size 32 32)
   (:bbox-offset 8 2) (:bbox-size 14 28))
  ((:name :missile-14) (:offset 448 352) (:size 32 32)
   (:bbox-offset 5 5) (:bbox-size 22 22))
  ((:name :missile-15) (:offset 480 352) (:size 32 32)
   (:bbox-offset 2 8) (:bbox-size 28 14))
  ((:name :enemy-missile-00) (:offset 384 320) (:size 32 32)
   (:bbox-offset 1 8) (:bbox-size 30 11))
  ((:name :enemy-missile-01) (:offset 416 320) (:size 32 32)
   (:bbox-offset 2 8) (:bbox-size 28 14))
  ((:name :enemy-missile-02) (:offset 448 320) (:size 32 32)
   (:bbox-offset 5 5) (:bbox-size 22 22))
  ((:name :enemy-missile-03) (:offset 480 320) (:size 32 32)
   (:bbox-offset 8 2) (:bbox-size 14 28))
  ((:name :enemy-missile-04) (:offset 384 288) (:size 32 32)
   (:bbox-offset 8 1) (:bbox-size 11 30))
  ((:name :enemy-missile-05) (:offset 416 288) (:size 32 32)
   (:bbox-offset 8 2) (:bbox-size 14 28))
  ((:name :enemy-missile-06) (:offset 448 288) (:size 32 32)
   (:bbox-offset 5 5) (:bbox-size 22 22))
  ((:name :enemy-missile-07) (:offset 480 288) (:size 32 32)
   (:bbox-offset 2 8) (:bbox-size 28 14))
  ((:name :enemy-missile-08) (:offset 384 256) (:size 32 32)
   (:bbox-offset 1 8) (:bbox-size 30 11))
  ((:name :enemy-missile-09) (:offset 416 256) (:size 32 32)
   (:bbox-offset 2 8) (:bbox-size 28 14))
  ((:name :enemy-missile-10) (:offset 448 256) (:size 32 32)
   (:bbox-offset 5 5) (:bbox-size 22 22))
  ((:name :enemy-missile-11) (:offset 480 256) (:size 32 32)
   (:bbox-offset 8 2) (:bbox-size 14 28))
  ((:name :enemy-missile-12) (:offset 384 352) (:size 32 32)
   (:bbox-offset 8 1) (:bbox-size 11 30))
  ((:name :enemy-missile-13) (:offset 416 352) (:size 32 32)
   (:bbox-offset 8 2) (:bbox-size 14 28))
  ((:name :enemy-missile-14) (:offset 448 352) (:size 32 32)
   (:bbox-offset 5 5) (:bbox-size 22 22))
  ((:name :enemy-missile-15) (:offset 480 352) (:size 32 32)
   (:bbox-offset 2 8) (:bbox-size 28 14))
  ((:name :explosion00) (:offset 0 384) (:size 128 128) 
   (:bbox-offset 32 32) (:bbox-size 64 64))
  ((:name :explosion01) (:offset 128 384) (:size 128 128)
   (:bbox-offset 32 32) (:bbox-size 64 64))
  ((:name :explosion02) (:offset 256 384) (:size 128 128)
   (:bbox-offset 30 30) (:bbox-size 68 68))
  ((:name :explosion03) (:offset 384 384) (:size 128 128)
   (:bbox-offset 28 28) (:bbox-size 72 72))
  ((:name :explosion04) (:offset 512 384) (:size 128 128)
   (:bbox-offset 26 26) (:bbox-size 76 76))
  ((:name :explosion05) (:offset 640 384) (:size 128 128)
   (:bbox-offset 26 26) (:bbox-size 76 76))
  ((:name :explosion06) (:offset 0 512) (:size 128 128)
   (:bbox-offset 24 24) (:bbox-size 80 80))
  ((:name :explosion07) (:offset 128 512) (:size 128 128)
   (:bbox-offset 24 24) (:bbox-size 80 80))
  ((:name :explosion08) (:offset 256 512) (:size 128 128)
   (:bbox-offset 24 24) (:bbox-size 80 80))
  ((:name :explosion09) (:offset 384 512) (:size 128 128)
   (:bbox-offset 24 24) (:bbox-size 80 80))
  ((:name :explosion10) (:offset 512 512) (:size 128 128)
   (:bbox-offset 24 24) (:bbox-size 80 80))
  ((:name :explosion11) (:offset 640 512) (:size 128 128)
   (:bbox-offset 24 24) (:bbox-size 80 80))
  ((:name :explosion12) (:offset 0 640) (:size 128 128)
   (:bbox-offset 26 26) (:bbox-size 76 76))
  ((:name :explosion13) (:offset 128 640) (:size 128 128)
   (:bbox-offset 28 28) (:bbox-size 72 72))
  ((:name :explosion14) (:offset 256 640) (:size 128 128)
   (:bbox-offset 28 28) (:bbox-size 72 72))
  ((:name :explosion15) (:offset 384 640) (:size 128 128)
   (:bbox-offset 28 28) (:bbox-size 72 72))
  ((:name :explosion16) (:offset 512 640) (:size 128 128)
   (:bbox-offset 28 28) (:bbox-size 72 72))
  ((:name :explosion17) (:offset 640 640) (:size 128 128)
   (:bbox-offset 28 28) (:bbox-size 72 72))
  ((:name :explosion18) (:offset 0 768) (:size 128 128)
   (:bbox-offset 30 30) (:bbox-size 68 68))
  ((:name :explosion19) (:offset 128 768) (:size 128 128)
   (:bbox-offset 30 30) (:bbox-size 68 68))
  ((:name :explosion20) (:offset 256 768) (:size 128 128)
   (:bbox-offset 32 32) (:bbox-size 64 64))
  ((:name :explosion21) (:offset 384 768) (:size 128 128)
   (:bbox-offset 32 32) (:bbox-size 64 64))
  ((:name :explosion22) (:offset 512 768) (:size 128 128)
   (:bbox-offset 32 32) (:bbox-size 64 64))
  ((:name :explosion23) (:offset 640 768) (:size 128 128)
   (:bbox-offset 32 32) (:bbox-size 64 64))
  ((:name :explosion24) (:offset 0 896) (:size 128 128)
   (:bbox-offset 36 36) (:bbox-size 56 56))
  ((:name :explosion25) (:offset 128 896) (:size 128 128)
   (:bbox-offset 40 40) (:bbox-size 48 48))
  ((:name :explosion26) (:offset 256 896) (:size 128 128)
   (:bbox-offset 44 44) (:bbox-size 40 40))
  ((:name :explosion27) (:offset 384 896) (:size 128 128)
   (:bbox-offset 48 48) (:bbox-size 32 32))
  ((:name :explosion28) (:offset 512 896) (:size 128 128)
   (:bbox-offset 52 52) (:bbox-size 24 24))
  ((:name :boss) (:offset 0 256) (:size 128 128))
  ((:name :forest-0) (:offset 512 0) (:size 96 96))
  ((:name :forest-1) (:offset 608 0) (:size 96 96))
  ((:name :forest-2) (:offset 704 0) (:size 96 96))
  ((:name :forest-3) (:offset 800 0) (:size 96 96))
  ((:name :forest-4) (:offset 512 96) (:size 96 96))
  ((:name :forest-5) (:offset 604 96) (:size 96 96))
  ((:name :forest-6) (:offset 704 96) (:size 96 96)))
 (:anims
  ((:name :thopter0)
   (:images :thopter0-00 :thopter0-01 :thopter0-02 :thopter0-03
            :thopter0-04 :thopter0-05 :thopter0-06 :thopter0-07
            :thopter0-08 :thopter0-09 :thopter0-10 :thopter0-11
            :thopter0-12 :thopter0-13 :thopter0-14))
  ((:name :thopter1)
   (:images :thopter1-00 :thopter1-01 :thopter1-02 :thopter1-03
            :thopter1-04 :thopter1-05 :thopter1-06 :thopter1-07
            :thopter1-08 :thopter1-09 :thopter1-10 :thopter1-11
            :thopter1-12 :thopter1-13 :thopter1-14))
  ((:name :thopter2)
   (:images :thopter2-00 :thopter2-01 :thopter2-02 :thopter2-03
            :thopter2-04 :thopter2-05 :thopter2-06 :thopter2-07
            :thopter2-08 :thopter2-09 :thopter2-10 :thopter2-11
            :thopter2-12 :thopter2-13 :thopter2-14))
  ((:name :thopter3)
   (:images :thopter3-00 :thopter3-01 :thopter3-02 :thopter3-03
            :thopter3-04 :thopter3-05 :thopter3-06 :thopter3-07
            :thopter3-08 :thopter3-09 :thopter3-10 :thopter3-11
            :thopter3-12 :thopter3-13 :thopter3-14))
  ((:name :explosion)
   (:images :explosion00 :explosion01 :explosion02 :explosion03 :explosion04
   	    :explosion05 :explosion06 :explosion07 :explosion08 :explosion09
   	    :explosion10 :explosion11 :explosion12 :explosion13 :explosion14
   	    :explosion15 :explosion16 :explosion17 :explosion18 :explosion19
   	    :explosion20 :explosion21 :explosion22 :explosion23 :explosion24
   	    :explosion25 :explosion26 :explosion27 :explosion28))
  ((:name :health) (:images :health-0 :health-1) (:timescale 8))))
