((:name :thopter)
 (:size 512 256)
 (:images
  ((:name :thopter0-0) (:offset 0 0) (:size 32 32))
  ((:name :thopter0-1) (:offset 32 0) (:size 32 32))
  ((:name :thopter0-2) (:offset 64 0) (:size 32 32))
  ((:name :thopter0-3) (:offset 96 0) (:size 32 32))
  ((:name :enemy) (:offset 64 32) (:size 32 32))
  ((:name :bullet) (:offset 0 32) (:size 4 4))
  ((:name :enemy-bullet) (:offset 4 32) (:size 4 4))
  ((:name :health) (:offset 0 48) (:size 16 16))
  ((:name :shield) (:offset 16 48) (:size 16 16))
  ((:name :upgrade-bullet) (:offset 16 32) (:size 16 16))
  ((:name :missile-n) (:offset 96 32) (:size 8 16))
  ((:name :missile-s) (:offset 104 32) (:size 8 16))
  ((:name :missile-e) (:offset 112 32) (:size 16 8))
  ((:name :missile-w) (:offset 112 40) (:size 16 8))
  ((:name :missile-nw) (:offset 0 96) (:size 16 16))
  ((:name :missile-ne) (:offset 16 96) (:size 16 16))
  ((:name :missile-sw) (:offset 0 112) (:size 16 16))
  ((:name :missile-se) (:offset 16 112) (:size 16 16))
  ((:name :upgrade-missile) (:offset 96 48) (:size 16 16))
  ((:name :enemy-missile-n) (:offset 64 96) (:size 8 16))
  ((:name :enemy-missile-s) (:offset 72 96) (:size 8 16))
  ((:name :enemy-missile-e) (:offset 80 96) (:size 16 8))
  ((:name :enemy-missile-w) (:offset 80 104) (:size 16 8))
  ((:name :enemy-missile-nw) (:offset 32 96) (:size 16 16))
  ((:name :enemy-missile-ne) (:offset 48 96) (:size 16 16))
  ((:name :enemy-missile-sw) (:offset 32 112) (:size 16 16))
  ((:name :enemy-missile-se) (:offset 48 112) (:size 16 16))
  ((:name :thopter1-0) (:offset 0 64) (:size 32 32))
  ((:name :thopter1-1) (:offset 32 64) (:size 32 32))
  ((:name :thopter1-2) (:offset 64 64) (:size 32 32))
  ((:name :thopter1-3) (:offset 96 64) (:size 32 32))
  ((:name :thopter2-0) (:offset 128 0) (:size 32 32))
  ((:name :thopter2-1) (:offset 160 0) (:size 32 32))
  ((:name :thopter2-2) (:offset 192 0) (:size 32 32))
  ((:name :thopter2-3) (:offset 224 0) (:size 32 32))
  ((:name :thopter3-0) (:offset 128 64) (:size 32 32))
  ((:name :thopter3-1) (:offset 160 64) (:size 32 32))
  ((:name :thopter3-2) (:offset 192 64) (:size 32 32))
  ((:name :thopter3-3) (:offset 224 64) (:size 32 32))
  ((:name :explosion0) (:offset 0 128) (:size 32 32))
  ((:name :explosion1) (:offset 32 128) (:size 32 32))
  ((:name :explosion2) (:offset 64 128) (:size 32 32))
  ((:name :explosion3) (:offset 96 128) (:size 32 32))
  ((:name :explosion4) (:offset 0 160) (:size 32 32))
  ((:name :explosion5) (:offset 32 160) (:size 32 32))
  ((:name :explosion6) (:offset 64 160) (:size 32 32))
  ((:name :explosion7) (:offset 96 160) (:size 32 32))
  ((:name :explosion8) (:offset 0 192) (:size 32 32))
  ((:name :explosion9) (:offset 32 192) (:size 32 32))
  ;((:name :boss) (:offset 256 0) (:size 256 256))
  ((:name :boss) (:offset 128 96) (:size 128 128))
  ((:name :upgrade-speed) (:offset 112 48) (:size 16 16)))
 (:anims
  ((:name :thopter0) 
   (:images :thopter0-0 :thopter0-1 :thopter0-2 :thopter0-3))
  ((:name :thopter1)
   (:images :thopter1-0 :thopter1-1 :thopter1-2 :thopter1-3))
  ((:name :thopter2)
   (:images :thopter2-0 :thopter2-1 :thopter2-2 :thopter2-3))
  ((:name :thopter3)
   (:images :thopter3-0 :thopter3-1 :thopter3-2 :thopter3-3))
  ((:name :explosion) 
   (:images :explosion0 :explosion1 :explosion2 :explosion3 :explosion4
   	    :explosion5 :explosion6 :explosion7 :explosion8 :explosion9))))
