((:name :thopter)
 (:size 128 64)
 (:images
  ((:name :thopter0) (:offset 0 0) (:size 32 32))
  ((:name :thopter1) (:offset 32 0) (:size 32 32))
  ((:name :thopter2) (:offset 64 0) (:size 32 32))
  ((:name :thopter3) (:offset 96 0) (:size 32 32))
  ((:name :enemy) (:offset 64 32) (:size 32 32))
  ((:name :bullet) (:offset 0 32) (:size 4 4))
  ((:name :enemy-bullet) (:offset 4 32) (:size 4 4))
  ((:name :health) (:offset 0 48) (:size 16 16))
  ((:name :shield) (:offset 16 48) (:size 16 16))
  ((:name :upgrade-bullet) (:offset 16 32) (:size 16 16))
  ((:name :explosion) (:offset 32 32) (:size 32 32))
  ((:name :missile) (:offset 96 32) (:size 8 16))
  ((:name :upgrade-missile) (:offset 96 48) (:size 16 16)))
 (:anims
  ((:name :thopter) (:images :thopter0 :thopter1 :thopter2 :thopter3))))
