((:name :thopter-item)
 (:size 1024 1024)
 (:images
  ((:name :spread-weapon) (:offset 0 0) (:size 128 128))
  ((:name :chaingun-weapon) (:offset 128 0) (:size 128 128))
  ((:name :missile-weapon) (:offset 256 0) (:size 128 128))
  ((:name :selection0-primary) (:offset 0 128) (:size 16 16))
  ((:name :selection0-secondary) (:offset 16 128) (:size 16 16))
  ((:name :selection1-primary) (:offset 32 128) (:size 16 16))
  ((:name :selection1-secondary) (:offset 48 128) (:size 16 16))
  ((:name :selection2-primary) (:offset 0 144) (:size 16 16))
  ((:name :selection2-secondary) (:offset 16 144) (:size 16 16))
  ((:name :selection3-primary) (:offset 32 144) (:size 16 16))
  ((:name :selection3-secondary) (:offset 48 144) (:size 16 16))
  ((:name :cursor0) (:offset 0 160) (:size 32 16))
  ((:name :cursor1) (:offset 32 160) (:size 32 16))
  ((:name :cursor2) (:offset 0 176) (:size 32 16))
  ((:name :cursor3) (:offset 32 176) (:size 32 16))))
