((:name :vx_chara01_a)
 (:size 384 384)
 (:color-key-at 0 0)
 (:timescale 4)
 (:images
  ((:name :hero-south) (:offset 32 0) (:size 32 48))
  ((:name :hero-south-walk-0) (:offset 0 0) (:size 32 48))
  ((:name :hero-south-walk-1) (:offset 32 0) (:size 32 48))
  ((:name :hero-south-walk-2) (:offset 64 0) (:size 32 48)))
 (:anims
  ((:name :hero-south-walk) (:images :hero-south-walk-0 :hero-south-walk-1
                                     :hero-south-walk-2 :hero-south-walk-1))))
