((:name :vx_chara01_a)
 (:size 384 384)
 (:color-key-at 0 0)
 (:timescale 4)
 (:images
  ((:name :hero-north-stand)  (:offset 32 144) (:size 32 48))
  ((:name :hero-north-walk-0) (:offset 0  144) (:size 32 48))
  ((:name :hero-north-walk-1) (:offset 32 144) (:size 32 48))
  ((:name :hero-north-walk-2) (:offset 64 144) (:size 32 48))
  ((:name :hero-south-stand)  (:offset 32 0)   (:size 32 48))
  ((:name :hero-south-walk-0) (:offset 0  0)   (:size 32 48))
  ((:name :hero-south-walk-1) (:offset 32 0)   (:size 32 48))
  ((:name :hero-south-walk-2) (:offset 64 0)   (:size 32 48))
  ((:name :hero-west-stand)   (:offset 32 48)  (:size 32 48))
  ((:name :hero-west-walk-0)  (:offset 0  48)  (:size 32 48))
  ((:name :hero-west-walk-1)  (:offset 32 48)  (:size 32 48))
  ((:name :hero-west-walk-2)  (:offset 64 48)  (:size 32 48))
  ((:name :hero-east-stand)   (:offset 32 96)  (:size 32 48))
  ((:name :hero-east-walk-0)  (:offset 0  96)  (:size 32 48))
  ((:name :hero-east-walk-1)  (:offset 32 96)  (:size 32 48))
  ((:name :hero-east-walk-2)  (:offset 64 96)  (:size 32 48)))
 (:anims
  ((:name :hero-north-walk) (:images :hero-north-walk-0 :hero-north-walk-1
                                     :hero-north-walk-2 :hero-north-walk-1))
  ((:name :hero-south-walk) (:images :hero-south-walk-0 :hero-south-walk-1
                                     :hero-south-walk-2 :hero-south-walk-1))
  ((:name :hero-west-walk) (:images :hero-west-walk-0 :hero-west-walk-1
                                    :hero-west-walk-2 :hero-west-walk-1))
  ((:name :hero-east-walk) (:images :hero-east-walk-0 :hero-east-walk-1
                                    :hero-east-walk-2 :hero-east-walk-1))))
